# <font color='maroon'>Assessment</font>
Given the following dataset, answer the questions that follow. The necessary libraries have been imported.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
from numpy import arange
import scipy.stats as stats
import pandas as pd
import seaborn as sns
import random as rnd

In [2]:
%matplotlib inline

In [3]:
pip freeze > requirement.txt

Note: you may need to restart the kernel to use updated packages.

In [4]:
data = pd.read_csv('athletes_.csv', sep=',', low_memory=False)

### Question 1
Study the data. What is the size of the dataset?

In [6]:
#Return an int representing the number of elements in this object.
data.size

11844168

#### Question 1.1
Generate summary statistics of the data.

In [7]:
#Generate descriptive statistics.
data.describe()

,athlete_id,age,height,weight,fran,helen,grace,filthy50,fgonebad,run400,run5k,candj,snatch,deadlift,backsq,pullups
count,423003.000000,331110.000000,1.598690e+05,229890.000000,5.542600e+04,3.027900e+04,4.074500e+04,1.935900e+04,2.973800e+04,2.224600e+04,3.609700e+04,1.044350e+05,9.728000e+04,1.153230e+05,1.105170e+05,5.060800e+04
mean,292748.166538,32.516750,1.206217e+02,170.896137,9.886691e+02,1.207950e+03,5.766025e+02,2.127863e+03,1.472252e+03,5.241279e+02,3.411464e+03,2.709107e+02,2.424957e+02,6.970503e+02,5.852109e+02,4.269613e+04
std,184969.660327,7.730671,2.097995e+04,58.379799,7.200430e+04,6.824091e+04,4.891145e+04,6.055021e+04,9.762688e+04,5.628804e+04,1.251980e+05,2.596882e+04,2.708942e+04,5.523235e+04,5.052976e+04,9.546078e+06
min,82.000000,13.000000,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,-6.000000e+01,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-4.500000e+01,0.000000e+00,-5.000000e+02,-7.000000e+00,-6.000000e+00
25%,135091.500000,27.000000,6.600000e+01,145.000000,2.150000e+02,5.250000e+02,1.490000e+02,1.308000e+03,2.400000e+02,6.200000e+01,1.242000e+03,1.400000e+02,1.050000e+02,2.550000e+02,2.050000e+02,1.500000e+01
50%,275839.000000,31.000000,6.900000e+01,170.000000,2.900000e+02,5.950000e+02,1.930000e+02,1.550000e+03,2.940000e+02,7.100000e+01,1.380000e+03,1.950000e+02,1.450000e+02,3.450000e+02,2.750000e+02,2.700000e+01
75%,473188.000000,37.000000,7.200000e+01,192.000000,3.920000e+02,6.940000e+02,2.620000e+02,1.809000e+03,3.360000e+02,8.400000e+01,1.560000e+03,2.350000e+02,1.850000e+02,4.150000e+02,3.350000e+02,3.900000e+01
max,633083.000000,125.000000,8.388607e+06,20175.000000,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,2.147484e+09

#### Question 1.2
Are the any missing values?  A simple strategy would be to remove rows with missing values. This can however reduce the size of the dataset. Another technique is to imput missing values with a sensible value like the mean.

For more on how to deal with missing values, see this blog entry: [How to Handle Missing Data with Python](https://machinelearningmastery.com/handle-missing-data-python/).

In [9]:
#Mark 0 values to NaN and check sum missing values
dataMissing = data[['athlete_id','name', 'region', 'team', 'affiliate', 'gender','age','height','weight','fran','helen','grace','filthy50','fgonebad','run400','run5k','candj','snatch','deadlift','backsq','pullups']] = data[['athlete_id','name', 'region', 'team', 'affiliate', 'gender','age','height','weight','fran','helen','grace','filthy50','fgonebad','run400','run5k','candj','snatch','deadlift','backsq','pullups']].replace(0, np.NaN)

#Count the number of NaN values in each column
print(dataMissing.isnull().sum())

#Check number of rows and colums
print(dataMissing.shape)

athlete_id         3
name           91896
region        171744
team          267846
affiliate     181090
gender         91896
age            91896
height        263158
weight        193116
fran          367580
helen         392727
grace         382261
filthy50      403647
fgonebad      396301
run400        400760
run5k         386909
candj         321954
snatch        329038
deadlift      311368
backsq        315996
pullups       375780
dtype: int64
(423006, 21)

In [11]:
#Drop rows with missing values
dataDrop = dataMissing.dropna(inplace=True)

#Summarize the number of rows and columns in the dataset
print(dataMissing.shape)

(1488, 21)

### Question 2

Study the `height` column. What distribution does the data follow? 
Hint: Use a histogram or density plot to visualise the data.

In [13]:
#Check summarized values of 'height'
data['height'].describe()

count    1.598480e+05
mean     1.206375e+02
std      2.098133e+04
min      1.000000e+00
25%      6.600000e+01
50%      6.900000e+01
75%      7.200000e+01
max      8.388607e+06
Name: height, dtype: float64

In [17]:
#Clean height data by replacing 8388607 with NaN
#Throws off the height summarized values
dataHeight = data['height'] = data['height'].replace(8388607, np.NaN)
                                   
#Check for new summarized values
dataHeight.describe()

count    159847.000000
mean         68.159309
std          21.477882
min           1.000000
25%          66.000000
50%          69.000000
75%          72.000000
max        7087.000000
Name: height, dtype: float64

### Question 3
What is the average height?

In [18]:
#Get average of height
dataHeight.mean()

68.15930858883807

In [20]:
#Drop rows with text
dataNew = data.drop(columns=['eat', 'train', 'background', 'experience', 'schedule', 'howlong', 'retrieved_datetime'])

### Question 4

Use simple random sampling to sample from the dataset. Choose a sample of 20000.

In [26]:
#Sample data randomly using 20000 sample size
dataRandom = dataNew.sample(20000)
dataRandom.describe()

,athlete_id,age,height,weight,fran,helen,grace,filthy50,fgonebad,run400,run5k,candj,snatch,deadlift,backsq,pullups
count,20000.000000,15642.000000,7595.000000,10929.000000,2596.000000,1482.000000,1912.000000,942.000000,1259.000000,1060.000000,1744.000000,4.760000e+03,4.457000e+03,5.271000e+03,5.068000e+03,2272.000000
mean,292069.809350,32.501343,68.066886,170.329307,335.780817,666.481107,234.716527,1617.076433,299.776807,130.016038,1449.222477,1.956724e+03,2.031296e+03,1.935402e+03,1.933963e+03,73.503081
std,185111.932168,7.710578,10.911621,34.415191,448.108076,1291.231948,255.485830,493.753765,70.664337,416.907150,537.940258,1.215840e+05,1.256495e+05,1.155382e+05,1.178304e+05,2097.492699
min,1620.000000,14.000000,1.000000,1.000000,72.000000,201.000000,62.000000,128.000000,1.000000,33.000000,300.000000,1.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,-3.000000
25%,133869.500000,27.000000,66.000000,145.000000,213.000000,527.250000,149.000000,1295.750000,258.000000,63.000000,1259.000000,1.450000e+02,1.150000e+02,2.650000e+02,2.100000e+02,18.000000
50%,275310.000000,31.000000,69.000000,170.000000,286.000000,597.500000,191.000000,1555.500000,301.000000,71.000000,1373.000000,1.950000e+02,1.450000e+02,3.500000e+02,2.750000e+02,29.000000
75%,472365.500000,37.000000,71.000000,192.000000,394.250000,697.000000,263.000000,1806.750000,340.000000,86.000000,1560.000000,2.350000e+02,1.830000e+02,4.150000e+02,3.350000e+02,40.000000
max,633083.000000,115.000000,748.000000,708.000000,19920.000000,49500.000000,5999.000000,6009.000000,890.000000,4200.000000,14400.000000,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,100000.000000

In [27]:
dataRandom.shape

(20000, 21)

### Question 4

Use stratified sampling to sample from the dataset. Choose a sample of 20000.

In [28]:
#Group data by gender and sample 20000 using stratified sampling
dataStratified = dataNew.groupby('gender').apply(lambda x: x.sample(frac=0.060405))
dataStratified.describe()

,athlete_id,age,height,weight,fran,helen,grace,filthy50,fgonebad,run400,run5k,candj,snatch,deadlift,backsq,pullups
count,20001.000000,20001.00000,9611.000000,13722.000000,3.280000e+03,1.835000e+03,2441.000000,1.161000e+03,1578.000000,1305.000000,2.165000e+03,6045.000000,5610.000000,6663.000000,6361.000000,2778.000000
mean,309943.304835,32.60807,68.235772,170.547952,2.879962e+03,5.193898e+03,227.184760,8.838133e+03,300.551331,122.908046,9.392471e+03,193.834409,148.483066,343.067237,278.538909,29.376170
std,194747.949226,7.72333,13.601072,36.706101,1.464659e+05,1.958122e+05,184.248002,2.461455e+05,80.936107,382.309124,2.549408e+05,66.665293,51.910456,101.250782,105.684096,20.447672
min,1642.000000,14.00000,1.000000,1.000000,4.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000,2.000000,6.000000e+01,1.000000,1.000000,1.000000,1.000000,-3.000000
25%,141239.000000,27.00000,66.000000,145.000000,2.150000e+02,5.250000e+02,150.000000,1.310000e+03,256.000000,63.000000,1.235000e+03,145.000000,110.000000,265.000000,209.000000,19.000000
50%,274411.000000,32.00000,69.000000,171.000000,2.930000e+02,5.960000e+02,195.000000,1.540000e+03,301.000000,71.000000,1.378000e+03,195.000000,145.000000,345.000000,275.000000,29.000000
75%,508374.000000,37.00000,71.000000,192.000000,3.900000e+02,6.965000e+02,265.000000,1.815000e+03,340.000000,85.000000,1.560000e+03,235.000000,185.000000,415.000000,335.000000,40.000000
max,629963.000000,56.00000,728.000000,1750.000000,8.388607e+06,8.388607e+06,4697.000000,8.388607e+06,1109.000000,4140.000000,8.388607e+06,2245.000000,1323.000000,1764.000000,4010.000000,666.000000

### Question 5
Compare simple random sampling and stratified random sampling. Compare the means generated by the two sampling techniques and discuss your observations below your code.

athlete_id

### Question 6

In  this question we are going to implement cluster sampling. Data is divided into clusters, if it isn't already divided into clusters, and then we use simple random sampling to select a number of clusters from the sample. From the group of selected clusters, we again use simple random sampling to select random data points. These now form our sample.  

Let's implement this procedure using some randomly generated data that we are going to group into clusters.

In [ ]:
#n_clusters = 10
#data = stats.norm.rvs(loc=0,        # mean 0
                      #scale=1,      # variance 1
                      #size=100000,  # number of points
                      #random_state=None)

#data = pd.DataFrame({'var1': data})  # turn list into dataframe with heading var1

#cluster = [rnd.randint(0,9) for c in range(100000)] # generate cluster numbers for grouping

#n_col = pd.Series(cluster) # turn list into Series object
#data['cluster'] = n_col.values
#data.head()

Now that we've generated random data and placed the data into clusters, generate a sample from the *athletes* data using cluster sampling technique.

In [ ]:
# your answers

<!-- Distribution fitting with scipy exercise given a dataset. Good references about El Nino dataset. I should find a climate dataset.

https://stackoverflow.com/questions/6615489/fitting-distributions-goodness-of-fit-p-value-is-it-possible-to-do-this-with/16651524#16651524

https://stackoverflow.com/questions/6620471/fitting-empirical-distribution-to-theoretical-ones-with-scipy-python -->